{% extends 'base.html.twig' %}

{% block title %}New Concert{% endblock %}

{% block body %}
<div class="sm:ml-72 mt-10">
    <h1 class="text-bold text-3xl">Concert</h1>

    {{ include('concert/_form.html.twig') }}

    <!--a href="{#{ path('app_concert_index') }#}">back to list</a-->
</div>
{% endblock %}
